$color-sky-blue: #8ecae6ff;
$color-blue-green: #219ebcff;
$color-prussian-blue: #023047ff;
$color-selective-yellow: #ffb703ff;
$color-ut-orange: #fb8500ff;
$color-game-loss: #3e223b;
$color-game-win: #1e2b5e;
$color-showpage: #000913;

$font-LOL: "Beaufort for LOL Bold", sans-serif;
$font-spiegel: "spiegelregular", monospace;
